@import "https://fonts.google.com/specimen/DM+Serif+Display";
@import 'https://fonts.googleapis.com/css2?family=Karla:&display=swap';
:root{
    --Dark-violet:hsl(256, 26%, 20%);
    --Grayish-blue: hsl(216, 30%, 68%);
    --Very-dark-violet: hsl(270, 9%, 17%);
    --Dark-grayish-violet: hsl(273, 4%, 51%);
    --Very-light-gray: hsl(0, 0%, 98%); 
    --font-family-2: 'Karla', sans-serif;;
    
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
img{
    width: 100%;
}
section{
    margin-bottom: 5em;
}
a{
    text-decoration: none;
}

hr{
    /* width: 20px; */
    border: .5px solid var(--Dark-grayish-violet);
    width: 150px;
    margin: auto;

}
.container{
    margin: 0 auto;
    width: 90%;
    max-width: 1440px;
}
.hero-section{
    background: var(--Very-dark-violet);
    background-image: url();
    
}
.hero-wrapper{

}
.hero-wrapper__content{
    color:var(--Very-light-gray) ;
    padding: 50px 0;
    line-height: 1.5;
    text-align: center;
    font-family: var(--font-family-2);
}
.hero-wrapper__title{
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.2;
}
.hero-wrapper__subtitle{
    margin-top: 1em;
    margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.9;
}
.hero-wrapper-btn{
    border: 1px solid var(--Very-light-gray);
    background: transparent;
    padding:12px 20px ;
    color: var(--Very-light-gray);
    text-transform: uppercase;
    font-size: .9rem;
    outline: none;
}
.hero-wrapper-btn:hover{
    background: var(--Very-light-gray);
    color: var(--Dark-grayish-violet);
    font-weight: 600;
}
.services{
    background: var(--Very-light-gray);
    text-align: center;
     font-family: var(--font-family-2);
}
.services-title{
    font-size: 2.5rem;
    margin: .5em 0 1em 0;
}
#img-icon{
    width: 20%;
    margin-bottom: 2em;
}
.services-render__people,.services-render__pricing,.services-render__snappy{
    padding: 30px 0;
    color: var(--Dark-grayish-violet);
    
}
.services-render__title{
    margin-bottom: .5em;
    font-size: 1.5rem;
   
}
.services-render__subtitle{
    line-height: 1.6;
    font-size: 1.1rem;
    color: var();
}
.how-work{
    background: var(--Very-dark-violet);
    text-align: center;
     
}
.how-work__content{
    color: var(--Very-light-gray);
    padding: 50px 0;
    font-family: var(--font-family-2);
    /* text-align: center; */
}
.how-work__content-title{
    font-size: 2rem;
    padding: 1em;
}
.how-work__btn{
    background: none;
    color: var(--Very-light-gray);
    border: 1px solid var(--Very-light-gray);
    padding:12px 18px ;
    color: var(--Very-light-gray);
    text-transform: uppercase;
    font-size: .9rem;
    outline: none;
    margin-bottom: 2em;
}
.how-work__btn:hover{
    background: var(--Very-light-gray);
    color: var(--Dark-grayish-violet);
    font-weight: 600;
}
.footer{
    background: var(--Very-light-gray);
    text-align: center;
    padding: 50px 0;
}
.img-logo{
    width: 30%;
}
.footer-header{
    border-bottom: 1px solid var(--Very-dark-violet);
    padding: 20px 0;
}
.footer-header__icons{
    margin:  2em 0 0 0;

    }
.social-icon{
    width: 20px;
}
.footer-content__company,.footer-content__help,.footer-content__contact,.footer-content__other{
    margin: 1em 0 0 0;
    line-height: 1.8;
    font-size: .9rem;
}
.footer-content__company-title,
.footer-content__other-title,
.footer-content__help-title,
.footer-content__contact-title{
    text-transform: uppercase;
    margin-bottom: 1.5em;
    margin-top:1.5em ;
    color: var(--Dark-grayish-violet);
    font-size: .8rem;
}
p > a{
color: var(--Very-dark-violet);
    font-family: var(--font-family-2);
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 700;
}